#macro(mainLayout)
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dark Bootstrap Admin by Bootstrapious.com</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="/dark-theme/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="/dark-theme/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Custom Font Icons CSS-->
    <link rel="stylesheet" href="/dark-theme/css/font.css">
    <!-- Google fonts - Muli-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="/dark-theme/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="/dark-theme/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="/dark-theme/img/favicon.ico">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    #parse("/velocity/scripts.vm")

##    datatables
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>


    <style>
        .fa-times:hover {
            color: white;
        }
        .select-dark-theme {
            background: #2E3035;
        }

        table.dataTable tbody tr {
            background-color: #2E3035 !important;
        }

        .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate{
            color: #dcdcdc  !important;
        }



        .page-header {
            margin-bottom: 0px !important;
        }

        .container-fluid {
            padding-left: 0px !important;
            padding-right: 0px !important;
        }




    </style>
</head>
<body>


<header class="header">
    <nav class="navbar navbar-expand-lg">
        <div class="search-panel">
            <div class="search-inner d-flex align-items-center justify-content-center">
                <div class="close-btn">Close <i class="fa fa-close"></i></div>
                <form id="searchForm" action="#">
                    <div class="form-group">
                        <input type="search" name="search" placeholder="What are you searching for...">
                        <button type="submit" class="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="container-fluid d-flex align-items-center justify-content-between">
            <div class="navbar-header">
                <!-- Navbar Header--><a href="index.html" class="navbar-brand">
                <div class="brand-text brand-big visible text-uppercase"><strong class="text-primary">Cleaning</strong><strong>Store</strong></div>
                <div class="brand-text brand-sm"><strong class="text-primary">D</strong><strong>A</strong></div></a>
                <!-- Sidebar Toggle Btn-->
                <button class="sidebar-toggle"><i class="fa fa-long-arrow-left"></i></button>
            </div>
            <div class="right-menu list-inline no-margin-bottom">
                <!-- Log out               -->
                <div class="list-inline-item logout">
                    <form method="post" action="$WebPath.getLOGOUT()">
##                        <input type="submit" id="logout" class="nav-link">Logout <i class="icon-logout"></i>
                        <button class="btn btn-dark" id="logout">Logout <i class="icon-logout"></i></button>
                    </form>
##                    <a id="logout" href="login.html" class="nav-link"></a>
                </div>
            </div>
        </div>
    </nav>
</header>


<div class="d-flex align-items-stretch">
    <!-- Sidebar Navigation-->
    <nav id="sidebar">
        <!-- Sidebar Header-->
        <div class="sidebar-header d-flex align-items-center">
            <div class="avatar"><img src="/dark-theme/img/avatar-6.jpg" alt="..." class="img-fluid rounded-circle"></div>
            <div class="title">
                <h1 class="h5">
                    $currentUser
                </h1>
##                todo :: see WHY DA FUCK $Utils.{property} is not available here
##                    #if($currentUserRole == 1)
                        <p>Admin</p>
##                    #else
                        <p>Employee</p>
##                    #end

            </div>
        </div>
        <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
        <ul class="list-unstyled">
            <li><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-windows"></i>Tickets</a>
                <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                    <li><a href="$WebPath.getRECEIPTS()">Receipts</a></li>
                    <li><a href="$WebPath.getRECEIPTS_ADD()">Add new +</a></li>
                    <li><a href="#">Search</a></li>
                </ul>
            </li>
##        #if($currentUserRole == 1)
            <li><a href="#"> <i class="icon-user"></i>Users </a></li>
            <li><a href="#"> <i class="icon-pie-chart"></i>Reports </a></li>
##        #end
        </ul>
        <!--<span class="heading">Extras</span>-->
        <!--<ul class="list-unstyled">-->
        <!--<li> <a href="#"> <i class="icon-settings"></i>Demo </a></li>-->
        <!--<li> <a href="#"> <i class="icon-writing-whiteboard"></i>Demo </a></li>-->
        <!--<li> <a href="#"> <i class="icon-chart"></i>Demo </a></li>-->
        <!--</ul>-->
    </nav>
    <!-- Sidebar Navigation end-->
##    <div id="content">
        $bodyContent
##    </div>
</div>

##<!-- JavaScript files-->
##<script src="/dark-theme/vendor/jquery/jquery.min.js"></script>
##<script src="/dark-theme/vendor/popper.js/umd/popper.min.js"> </script>
##<script src="/dark-theme/vendor/bootstrap/js/bootstrap.min.js"></script>
##<script src="/dark-theme/vendor/jquery.cookie/jquery.cookie.js"> </script>
##<script src="/dark-theme/vendor/chart.js/Chart.min.js"></script>
##<script src="/dark-theme/vendor/jquery-validation/jquery.validate.min.js"></script>
##<script src="/dark-theme/js/front.js"></script>




</body>
</html>
#end

